* {
  margin : 0;
}
body {
  background-color: #fafafa;
}
.app__header {
  display: flex;
  justify-content: space-between;
}
.app__boxInfo {
  display: flex;
  justify-content: space-between;
}
.App {
  display: flex;
  margin-top : 15px;
  padding : 25px;
  justify-content: space-evenly;
}
.app__left {
  flex : 0.8;
  padding-right: 15px;
}
.app__right {
  flex : 0.2;
}
@media (max-width : 900px) {
  .App {
    display: flex;
    flex-direction: column !important;
    padding : 15px;
    margin-top : 5px;
  }
  .app__left {
    flex : 0.8;
    padding-right: 0px;
  }
  .info-box {
    display: flex;
    flex-direction: column;
  }
  .info-box .title {
  }
  .info-box .totalCase {
    flex-grow: 1;
  }

} 